@charset "UTF-8";

section{
    padding-left: 30px;
    padding-top: 20px;
}

label{
    margin: 5px;
}

input{
    margin: 5px;
    margin-bottom: 15px;
}

.sexo{
    display: inline-block;
    margin: 5px;
}

#coment{
    height: 15vh;
}

button{
    margin-right: 5px;
    margin-bottom: 10px;
    text-align: center;
    width: 6vw;
}

.contato{
    margin-bottom: 10px;
    line-height: 25px;
}
