@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: var(--fontePadrao);
    font-size: 16px;
}

:root{
    --fontePadrao: font-family: Arial,Helvetica, sans-serif;
    --corDeFundo: #d2d2c1;
    --corDeFundoNav: #c5c5b2;
    --comDoLink: #4b566a;
    --comDeFundoSection: #e8e8d9;
    --corH1: #828271;
    --corImagens: #c3c3ae;
}
.container{
    width: 900px;
    height: 100vh;
}
body {
    background-color: var(--corDeFundo);
    background-image: url(../imagens/fundo.png);
    background-position: center;
    background-repeat: repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem{
    background-image: url(../imagens/capa.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
}

.foto{
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: var(--corImagens) solid 10px;
    height: 70vh;
    width: 110vh;
}

.img1{
    background-image: url(../imagens/foto1.png);
      
}

.img2{
    background-image: url(../imagens/foto2.png);
}

.img3{
    background-image: url(../imagens/foto3.png);
}

nav{
    background-color: var(--corDeFundoNav);
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    margin: 18px;

}

nav ul a{
    color: var(--comDoLink);
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

nav ul a li{
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}

.barraSeparacao::before{
    content: "|";
    margin: 0;
    padding: 5px;
} 

section{
    background-color: var(--comDeFundoSection);
    padding: 10px;

}

.titulo{
    font-size: 25px;
    color: var(--corH1);
}

.texto{
    text-align: justify;
    line-height: 0.8cm;
    text-indent: 1cm;
}

.rodape{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}